[user]
	name = Tom Hendra
	email = tom.hendra@outlook.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	editor = code --wait
	excludesfile = /Users/Tom/.gitignore_global
	pager = delta

[commit]
	template = /Users/Tom/.stCommitMsg

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[maintenance]
	repo = /Users/tomhendra/.zsh_plugins/znap
